@model List<RealEstateBusiness.Models.Branch>
@using RealEstateBusiness.Models;

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Branch</title>
    <style>
        div {
            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
            color: cadetblue;
        }
    </style>
</head>
<body>
    <div> 
        <h1>Branch Numbers</h1>
        <h4>Click to view number of buildings managed by each branch</h4>
        @foreach (Branch branch in Model)
        {
            @Html.ActionLink(branch.BranchNo, "RentInBranch", new { @BranchNo = branch.BranchNo })
            <br />
        }
    </div>
</body>
</html>
