@using RealEstateBusiness.Models;

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div> 
        <h1>Real Estate Business</h1>
        @Html.ActionLink("Branch", "Index", "Branch")
        @Html.ActionLink("Owner", "Index", "Owner")
        @Html.ActionLink("Staff", "Index", "Staff")
        @Html.ActionLink("Rent", "Index", "Rent")
    </div>
</body>
</html>
