@model List<RealEstateBusiness.Models.Staff>
@using RealEstateBusiness.Models;

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Position</title>
</head>
<body>
    <div>
        <h1>Staff Positions</h1>
        <h4>Click to view staff names regarding to each position</h4>
        @foreach (Staff staff in Model)
        {
            @Html.ActionLink(staff.Position, "StaffInPosition", new { @pos = staff.Position })
            <br />
        }
    </div>

</body>
</html>
