@model List<RealEstateBusiness.Models.Rent>
@using RealEstateBusiness.Models;

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>RentInBranch</title>
    <style>
        div {
            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
            color: cadetblue;
        }
    </style>
</head>
<body>
    <div>
        @{int count = 0;}
        <h1>Number of Buildings Managed by the Branch</h1>
        @foreach (Rent rent in Model)
        {
            count = count + 1;
        }
        <p>Number is : @count</p>
    </div>
</body>
</html>
