@model List<RealEstateBusiness.Models.Rent>
@using RealEstateBusiness.Models;

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>RentInCity</title>
    <style>
        div {
            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
            color: cadetblue;
        }
    </style>
</head>
<body>
    <div>
        <h1>Buildings in City</h1>
        @foreach (Rent rent in Model)
        {
            @rent.PropertyNo
            <br />
        }
    </div>
</body>
</html>
