@model List<RealEstateBusiness.Models.Staff>
@using RealEstateBusiness.Models;

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>StaffInBranch</title>
</head>
<body>
    <div> 
        <h1>Staffs in Branches</h1>
        @foreach (Staff staff in Model)
        {
            @Html.ActionLink(staff.FName, "StaffDetails", new { @id = staff.StaffNo })
            <br />
        }
    </div>
</body>
</html>
